.split-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    /* Hide overflow from child elements */
}

.left-panel {
    flex: 1;
    background-color: #f0f0f0;
    overflow-y: auto;
    /* Allow content to overflow when resized */
    min-width: 200px;
    /* Increase the minimum width as needed */
    position: relative;
    /* Set position to relative */
}

.leftPanelHeader {
    background: #2980b9 !important;
    height: 18vh;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.right-panel {
    flex: 2;
    background-color: #e0e0e0;
    /* Adjust the background color as needed */
    overflow: hidden;
    /* Hide any potential overflow from the right panel */
}

/* Ensure the map takes up the full height of the right panel */
#google-map {
    height: 100vh;
}

.needHelpDetail {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 30px;
    cursor: pointer;
}

:hover.needHelpDetail {
    background-color: bisque;
}

.resize-handle {
    width: 10px;
    /* Width of the resize handle */
    cursor: col-resize;
    /* Display a horizontal resize cursor */
    background-color: #ccc;
    /* Background color of the handle */
    border-left: 1px solid #000;
    /* Add a border to the left of the handle */
    position: absolute;
    /* Set position to absolute */
}

.mapInput {
    margin-right: 3vh;
    padding: 10px;
}

.btn {
    height: 5vh;
    width: 6vh;
}